div.landing-page-container
  div.landing-page-inner-container
    div.landing-page-image-container
      img(style={'max-width': '350px'} src= landingPage.initialState.mediaLink)
    h2(style={color: landingPage.initialState.titleColor}).landing-page-title= landingPage.initialState.title
    p(style={color: landingPage.initialState.descriptionColor})= landingPage.initialState.description
    div(
      messenger_app_id=landingPage.facebookClientId 
      page_id=landingPage.pageId.pageId 
      color="blue" 
      size="xlarge"
      ).fb-send-to-messenger
