div.landing-page-container
  div.landing-page-inner-container
    div.landing-page-image-container
      img(style={'max-width': '350px'} src= landingPage.state.mediaLink)
    h2(style={color: landingPage.state.titleColor}).landing-page-title= landingPage.state.title
    p(style={color: landingPage.state.descriptionColor})= landingPage.state.description
    if landingPage.currentState === 'initial'
      div(
        messenger_app_id=landingPage.facebookClientId 
        page_id=landingPage.pageId.pageId 
        color="blue" 
        size="xlarge"
        ).fb-send-to-messenger
    else
      a(href=`m.me/${landingPage.pageId.pageId}`).btn.btn-primary= landingPage.state.buttonText
